<!-- Title -->
<h1 class="page-title">Spotify Helper</h1>

<!-- Navigation Bar -->
<ul class="navigation">
    <li><a href="#">Home</a></li>
    <li><a href="#">Artists</a></li>
    <li><a href="#">Playlists</a></li>
</ul>
<br>
<hr>
<br>

<!-- Search Area -->
<h2>Search for artists to find out more about them.</h2>
<div>
    <form novalidate>
        <label>Enter Artist Name: <input type="text" ng-model="searchartist" id="search_artist"/></label>
        <button ng-click="$ctrl.searchArtist()">Submit</button>
    </form>
</div>

<!-- Search History -->

<history artists="$ctrl.history"></history>

<!-- Footer -->
<br>
<hr>
<br>
<ul class="list-inline">
    <li class="list-inline"><a class="link" href="https://github.com/jdelledonne/webdev-fa2020">Project Repository</a></li>
</ul>
<p style="color:dimgrey">Developed using AngularJS</p>
<p style="color:dimgrey">Created by Jack Bailey and Joe Delle Donne for CSE 40693 Modern Web Development</p>
<br>