<!-- Title -->
<h1 class="page-title">Spotify Helper</h1>

<!-- Navigation Bar -->
<ul class="navigation">
    <li><a href="#">Home</a></li>
    <li><a href="#">Artists</a></li>
    <li><a href="#">Playlists</a></li>
</ul>
<br>
<hr>
<br>

<!-- Body -->
<div>
    <form novalidate>
        <label>Enter Artist Name: <input type="text" ng-model="searchartist" id="search_artist"/></label>
        <button ng-click="$ctrl.searchArtist()">Submit</button>
    </form>w
</div>

<div>
    <p>Searching for: {{ searchartist }}</p>
</div>

<div>
    <p>Artist ID:  {{ $ctrl.artist }}</p>
</div>

<div>
    <iframe src="https://open.spotify.com/embed/track/2HK5MzOuCmkJQlJYGCQpUU" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>

<br>
<hr>
<br>
<ul class=top-charts>
    <li>
        <iframe src="https://open.spotify.com/embed/playlist/37i9dQZEVXbLRQDuF5jeBp" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </li>
    <li>
        <iframe src="https://open.spotify.com/embed/playlist/37i9dQZEVXbMDoHDwVN2tF" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </li>
    <li>
        <iframe src="https://open.spotify.com/embed/playlist/37i9dQZEVXbLiRSasKsNU9" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </li>
</ul>

<!-- Footer -->
<br>
<hr>
<br>
<ul class="list-inline">
    <li class="list-inline"><a class="link" href="https://github.com/jdelledonne/webdev-fa2020">Project Repository</a></li>
</ul>
<p style="color:dimgrey">Developed using AngularJS</p>
<p style="color:dimgrey">Created by Jack Bailey and Joe Delle Donne for CSE 40693 Modern Web Development</p>
