<!-- Title -->
<h1 class="page-title">Spotify Wizard</h1>

<!-- Navigation Bar -->
<ul class="navigation">
    <li><a href="#">Home</a></li>
    <li><a href="#">Artists</a></li>
    <li><a href="#">Playlists</a></li>
</ul>
<br>
<hr>

<!-- Body -->
<div>
    <h1> {{ $ctrl.artist }} </h1>
</div>

<div>
    <form novalidate>
        <label>Enter Album ID: <input type="text" ng-model="artistname" id="artistname"/></label>
        <button ng-click="$ctrl.getName()">Submit</button>
    </form>
    
</div>

<div>
    <p> {{ artistname }}</p>
</div>

<!-- Footer -->
<br>
<hr>
<br>
<ul class="list-inline">
    <li class="list-inline"><a class="link" href="https://github.com/jdelledonne/webdev-fa2020">Project Repository</a></li>
</ul>
<p style="color:dimgrey">Developed using AngularJS</p>
<p style="color:dimgrey">Created by Jack Bailey and Joe Delle Donne for CSE 40693 Modern Web Development</p>